[Desktop Entry]
Name=Parkett
Comment=Boersensimulator mit echten Kursen und virtuellem Geld
Exec=Parkett
Icon=parkett
Type=Application
Categories=Utility;
Terminal=false
